/* style clearing */
* {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}

button {
    border: none;
    transition: all .4s;
    cursor: pointer;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;   
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
body {}
/* body::-webkit-scrollbar {
	width: 0.3em
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
}

body::-webkit-scrollbar-thumb {
	background-color: #fff
} */



/* style for JS control */

.activate {
    animation: slideIn 1s cubic-bezier(1, 0.15, 0.23, 0.87); 
}
@keyframes slideIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.deactivate {
    animation: slideOut 1s cubic-bezier(1, 0.15, 0.23, 0.87); 
}
@keyframes slideOut {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-100px);
        opacity: 0;
    }
}

.tobeanimate {
    /* transition: all 2s; */
    opacity: 0;
}

@keyframes slideIn{
    from {
        transform: translateY(120px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}






/* loading animation */
.animation {
    width: 10px;
    height: 65px;
    background: #27324B;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: anime1 ease-in-out 2s infinite;
}

@keyframes anime1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}


.animation::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    width: 10px;
    height: 65px;
    background: #EE7379;
    border-radius: 6px;
    animation: anime2 ease-in-out 2s infinite;
}

@keyframes anime2 {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(-10px);
    }
}



.animation::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 10px;
    height: 65px;
    background: #72CFE7;
    border-radius: 6px;
    animation: anime3 ease-in-out 2s infinite;
}

@keyframes anime3 {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(10px);
    }
}

.loading {
    position: fixed;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
}

.fallDown {
    animation: fall 1s cubic-bezier(0.13, 1.15, 0.85, 1.38) forwards;
}
@keyframes fall {
    from {
        transform: translateY(-90px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}










    /* Common used CSS Style ----  reusable components*/
.btn {
    display: block;
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid #27314D;
    margin: 20px auto;
    border-radius: 4px;
    background: transparent;
    color: #27314D;
}
.btn:hover {
    background: #27314D;
    color: #fff;
}

.fix-center {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.panel-main-wrap {
    overflow: auto;
    height: 100%;
}

.wrap-anime {
    animation: slideIn ease-in-out 1s forwards;
}

.panel-main-wrap {
    padding: 3em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.animate-out {
    animation: slide-out .4s ease-in-out forwards;
}
@keyframes slide-out {
    to {opacity: 0; transform: translateY(50px)}
}



.piece-wrap .fa-star.starred {
    color: #FFC748;
}